@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.ProseMirror {
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;

    [data-id] {
        border: 3px solid #0d0d0d;
        border-radius: 0.5rem;
        margin: 1rem 0;
        position: relative;
        margin-top: 1.5rem;
        padding: 2rem 1rem 1rem;

        &::before {
            content: attr(data-id);
            background-color: #0d0d0d;
            font-size: 0.6rem;
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            position: absolute;
            top: 0;
            padding: 0.25rem 0.75rem;
            border-radius: 0 0 0.5rem 0.5rem;
        }
    }
}
